### A trained model which can predict the employee performance based on factors as inputs. This will be used to hire employees

### Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import normalize
from sklearn.model_selection import train_test_split

### Creating data frame

In [2]:
perfo=pd.read_csv("pro_new.csv")

### Reading first five columns

In [3]:
perfo.head()

,Unnamed: 0,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,...,EmpJobRole_Senior Manager R&D,EmpJobRole_Technical Architect,EmpJobRole_Technical Lead,BusinessTravelFrequency_Non-Travel,BusinessTravelFrequency_Travel_Frequently,BusinessTravelFrequency_Travel_Rarely,OverTime_No,OverTime_Yes,Attrition_No,Attrition_Yes
0,0,32,10,3,4,55,3,2,4,1,...,0,0,0,0,0,1,1,0,1,0
1,1,47,14,4,4,42,3,2,1,2,...,0,0,0,0,0,1,1,0,1,0
2,2,40,5,4,4,48,2,3,1,5,...,0,0,0,0,1,0,0,1,1,0
3,3,41,10,4,2,73,2,5,4,3,...,0,0,0,0,0,1,1,0,1,0
4,4,60,16,4,1,84,3,2,1,8,...,0,0,0,0,0,1,1,0,1,0

### Dropping column named unnamed since it is an index

In [4]:
perfo.drop("Unnamed: 0",axis=1,inplace=True)

### Missing values

In [5]:
perfo.isnull().sum()

Age                                          0
DistanceFromHome                             0
EmpEducationLevel                            0
EmpEnvironmentSatisfaction                   0
EmpHourlyRate                                0
EmpJobInvolvement                            0
EmpJobLevel                                  0
EmpJobSatisfaction                           0
NumCompaniesWorked                           0
EmpLastSalaryHikePercent                     0
EmpRelationshipSatisfaction                  0
TotalWorkExperienceInYears                   0
TrainingTimesLastYear                        0
EmpWorkLifeBalance                           0
ExperienceYearsAtThisCompany                 0
ExperienceYearsInCurrentRole                 0
YearsSinceLastPromotion                      0
YearsWithCurrManager                         0
PerformanceRating                            0
Gender_Female                                0
Gender_Male                                  0
EducationBackground_Human Resources          0
EducationBackground_Life Sciences            0
EducationBackground_Marketing                0
EducationBackground_Medical                  0
EducationBackground_Other                    0
EducationBackground_Technical Degree         0
MaritalStatus_Divorced                       0
MaritalStatus_Married                        0
MaritalStatus_Single                         0
                                            ..
EmpDepartment_Finance                        0
EmpDepartment_Human Resources                0
EmpDepartment_Research & Development         0
EmpDepartment_Sales                          0
EmpJobRole_Business Analyst                  0
EmpJobRole_Data Scientist                    0
EmpJobRole_Delivery Manager                  0
EmpJobRole_Developer                         0
EmpJobRole_Finance Manager                   0
EmpJobRole_Healthcare Representative         0
EmpJobRole_Human Resources                   0
EmpJobRole_Laboratory Technician             0
EmpJobRole_Manager                           0
EmpJobRole_Manager R&D                       0
EmpJobRole_Manufacturing Director            0
EmpJobRole_Research Director                 0
EmpJobRole_Research Scientist                0
EmpJobRole_Sales Executive                   0
EmpJobRole_Sales Representative              0
EmpJobRole_Senior Developer                  0
EmpJobRole_Senior Manager R&D                0
EmpJobRole_Technical Architect               0
EmpJobRole_Technical Lead                    0
BusinessTravelFrequency_Non-Travel           0
BusinessTravelFrequency_Travel_Frequently    0
BusinessTravelFrequency_Travel_Rarely        0
OverTime_No                                  0
OverTime_Yes                                 0
Attrition_No                                 0
Attrition_Yes                                0
Length: 62, dtype: int64

### Applying machine learning to train the given model

In [6]:
attri=perfo.drop("PerformanceRating",axis=1)
classs=perfo.PerformanceRating

### Normalization

In [7]:
#rescaling of data so that all the datas are from 0 to 1
normal=normalize(attri)
normal
print(normal.min(),normal.max())

0.0 0.969006183329157

### Splitting the given data for all the attributes

In [8]:
attri_train,attri_test,classs_train,classs_test=train_test_split(attri,classs,test_size=0.35)

In [9]:
print(attri_train)

      Age  DistanceFromHome  EmpEducationLevel  EmpEnvironmentSatisfaction  \
280    24                17                  2                           4
448    40                 9                  4                           4
390    31                 1                  4                           2
138    30                 8                  2                           3
383    35                18                  2                           3
1110   26                23                  3                           1
273    44                17                  3                           4
1030   27                 5                  3                           3
292    54                 1                  4                           4
816    50                 7                  2                           2
889    32                 8                  3                           2
470    35                 2                  3                           1
441    33                 8                  5                           4
1142   33                 1                  5                           1
648    36                10                  4                           2
0      32                10                  3                           4
583    49                11                  4                           4
320    43                 4                  4                           4
907    45                 4                  2                           3
463    35                28                  4                           2
85     36                 8                  3                           1
1097   28                17                  2                           3
995    38                 7                  2                           1
944    30                26                  4                           3
701    43                11                  3                           1
754    35                 1                  4                           3
1189   33                 3                  3                           1
1132   36                10                  4                           2
1102   42                29                  2                           1
354    48                 4                  3                           4
...   ...               ...                ...                         ...
1014   51                 2                  3                           4
373    32                 2                  1                           3
1100   45                10                  2                           1
685    28                16                  3                           3
783    32                16                  1                           2
208    40                20                  4                           1
871    43                28                  3                           2
665    31                10                  2                           3
48     50                 2                  3                           3
72     51                26                  4                           1
1007   31                 5                  3                           4
1099   52                 3                  3                           4
863    33                22                  2                           3
1068   21                12                  3                           3
249    35                 8                  4                           3
572    45                 4                  3                           3
1185   35                 6                  4                           2
835    23                 2                  1                           3
135    35                18                  3                           3
736    23                 9                  3                           4
1158   26                28                  2                           1
501    35                18                  5                           2
199    55                 2                  1                           3
4      60                16                  4                           1
471    53                 2                  5                           3
820    45                 7                  3                           2
1077   55                 2                  3                           3
1154   38                10                  3                           3
263    32                 2                  1                           3
1199   24                 3                  2                           1

      EmpHourlyRate  EmpJobInvolvement  EmpJobLevel  EmpJobSatisfaction  \
280              97                  3            1                   2
448              86                  3            1                   1
390              50                  1            1                   3
138              62                  3            3                   3
383              60                  3            3                   4
1110             90                  3            1                   4
273              74                  1            1                   3
1030             85                  3            1                   2
292              53                  3            3                   3
816              43                  2            5                   3
889              43                  3            3                   4
470              69                  3            1                   1
441              69                  3            2                   3
1142             95                  4            4                   3
648              63                  2            2                   3
0                55                  3            2                   4
583              80                  3            2                   4
320              56                  2            3                   4
907              30                  3            2                   1
463              98                  2            1                   3
85               77                  2            1                   1
1097             79                  3            2                   1
995              44                  4            2                   1
944              52                  2            2                   1
701              30                  3            3                   3
754              62                  1            1                   4
1189             70                  3            1                   1
1132             32                  3            3                   4
1102             92                  3            2                   3
354              54                  3            3                   4
...             ...                ...          ...                 ...
1014             84                  1            2                   2
373              36                  3            2                   2
1100             69                  3            1                   4
685              49                  3            1                   3
783              72                  1            1                   1
208              61                  3            3                   4
871              72                  4            1                   3
665              86                  3            2                   4
48               64                  3            4                   3
72               66                  3            4                   3
1007             84                  3            1                   2
1099             39                  2            3                   3
863              95                  3            2                   2
1068             90                  4            1                   2
249             100                  3            1                   3
572              56                  1            3                   3
1185             82                  1            2                   4
835              62                  3            1                   1
135              86                  3            2                   3
736              33                  3            1                   1
1158             66                  3            2                   2
501              48                  4            2                   1
199              40                  2            4                   1
4                84                  3            2                   1
471              78                  2            3                   4
820              59                  3            3                   1
1077             97                  3            4                   4
1154             76                  3            2                   3
263              76                  3            1                   1
1199             65                  3            2                   3

      NumCompaniesWorked  EmpLastSalaryHikePercent      ...        \
280                    1                        13      ...
448                    3                        14      ...
390                    1                        12      ...
138                    5                        11      ...
383                    2                        11      ...
1110                   1                        22      ...
273                    2                        13      ...
1030                   1                        12      ...
292                    7                        17      ...
816                    5                        12      ...
889                    1                        14      ...
470                    1                        12      ...
441                    2                        17      ...
1142                   4                        19      ...
648                    1                        13      ...
0                      1                        12      ...
583                    3                        12      ...
320                    3                        14      ...
907                    4                        11      ...
463                    0                        23      ...
85                     0                        21      ...
1097                   1                        12      ...
995                    1                        24      ...
944                    5                        15      ...
701                    1                        17      ...
754                    1                        12      ...
1189                   1                        11      ...
1132                   1                        14      ...
1102                   2                        11      ...
354                    1                        11      ...
...                  ...                       ...      ...
1014                   5                        18      ...
373                    0                        13      ...
1100                   3                        21      ...
685                    1                        14      ...
783                    1                        22      ...
208                    4                        20      ...
871                    4                        12      ...
665                    2                        11      ...
48                     5                        16      ...
72                     2                        14      ...
1007                   1                        11      ...
1099                   2                        14      ...
863                    0                        13      ...
1068                   1                        15      ...
249                    1                        17      ...
572                    4                        21      ...
1185                   1                        13      ...
835                    3                        13      ...
135                    1                        16      ...
736                    1                        19      ...
1158                   1                        20      ...
501                    1                        11      ...
199                    7                        15      ...
4                      8                        14      ...
471                    0                        16      ...
820                    2                        17      ...
1077                   2                        13      ...
1154                   3                        19      ...
263                    1                        12      ...
1199                   9                        14      ...

      EmpJobRole_Senior Manager R&D  EmpJobRole_Technical Architect  \
280                               0                               0
448                               0                               0
390                               0                               0
138                               0                               0
383                               0                               0
1110                              0                               0
273                               0                               0
1030                              0                               0
292                               0                               0
816                               0                               0
889                               0                               0
470                               0                               0
441                               0                               0
1142                              0                               0
648                               0                               0
0                                 0                               0
583                               0                               0
320                               0                               0
907                               0                               0
463                               0                               0
85                                0                               0
1097                              0                               0
995                               0                               0
944                               0                               0
701                               0                               0
754                               0                               0
1189                              0                               0
1132                              0                               0
1102                              0                               0
354                               0                               0
...                             ...                             ...
1014                              0                               0
373                               0                               0
1100                              0                               0
685                               0                               0
783                               0                               0
208                               1                               0
871                               0                               0
665                               0                               0
48                                0                               0
72                                0                               0
1007                              0                               0
1099                              0                               0
863                               0                               0
1068                              0                               0
249                               0                               0
572                               0                               0
1185                              0                               0
835                               0                               0
135                               0                               0
736                               0                               0
1158                              0                               0
501                               0                               0
199                               0                               0
4                                 0                               0
471                               0                               0
820                               0                               0
1077                              0                               0
1154                              0                               0
263                               0                               0
1199                              0                               0

      EmpJobRole_Technical Lead  BusinessTravelFrequency_Non-Travel  \
280                           0                                   0
448                           0                                   0
390                           0                                   0
138                           0                                   0
383                           0                                   0
1110                          0                                   0
273                           0                                   1
1030                          1                                   0
292                           0                                   0
816                           0                                   0
889                           0                                   0
470                           0                                   0
441                           0                                   0
1142                          0                                   0
648                           0                                   0
0                             0                                   0
583                           0                                   0
320                           0                                   0
907                           0                                   0
463                           0                                   0
85                            0                                   0
1097                          0                                   0
995                           0                                   0
944                           0                                   0
701                           0                                   0
754                           0                                   0
1189                          0                                   0
1132                          0                                   1
1102                          0                                   0
354                           0                                   0
...                         ...                                 ...
1014                          1                                   0
373                           0                                   0
1100                          0                                   0
685                           0                                   1
783                           0                                   0
208                           0                                   0
871                           0                                   0
665                           0                                   0
48                            0                                   0
72                            0                                   0
1007                          0                                   0

### Applying Decision Tree Algorithm

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
tr=DecisionTreeClassifier(max_depth=5)
tr.fit(attri_train,classs_train)
tr1=tr.predict(attri_test)
accuracy_score(classs_test,tr1)*100

91.42857142857143

### Applying KNN [K Nearest Neighbour] Algorithm

In [11]:
from sklearn.neighbors import KNeighborsClassifier
ds=KNeighborsClassifier(11)
ds.fit(attri_train,classs_train)
ds1=ds.predict(attri_test)
accuracy_score(classs_test,ds1)

0.7309523809523809

### Applying SVM [Support Vector Machine] Algorithm

In [12]:
from sklearn.svm import SVC
svm = SVC(kernel = "rbf", C=10, gamma=2)
svm.fit(attri_train,classs_train)
sv1=svm.predict(attri_test)
accuracy_score(classs_test,sv1)

0.7476190476190476

### Applying Random Forest Algorithm

In [13]:
from sklearn.ensemble import RandomForestClassifier
lm = RandomForestClassifier(n_estimators=20)
lm.fit(attri_train,classs_train)
lm1=lm.predict(attri_test)
accuracy_score(classs_test,lm1)

0.8976190476190476

### Data splitting with respect to three attributes

In [14]:
attri=perfo[["EmpEnvironmentSatisfaction","EmpLastSalaryHikePercent","EmpWorkLifeBalance"]]
classs=perfo.PerformanceRating

In [15]:
from sklearn.preprocessing import normalize#rescaling of data so that all the datas are from 0 to 1
normal1=normalize(attri)
normal1
print(normal1.min(),normal1.max())

0.03946685189819292 0.9982683969692436

In [16]:
attri_train,attri_test,classs_train,classs_test=train_test_split(attri,classs,test_size=0.3,random_state=0)

### Applying Decision Tree Algorithm

In [17]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
tr=DecisionTreeClassifier(max_depth=3)
tr.fit(attri_train,classs_train)
tr1=tr.predict(attri_test)
accuracy_score(classs_test,tr1)*100

82.5

### Applying KNN [K Nearest Neighbour] Algorithm

In [18]:
from sklearn.neighbors import KNeighborsClassifier
ds=KNeighborsClassifier(11)
ds.fit(attri_train,classs_train)
ds1=ds.predict(attri_test)
accuracy_score(classs_test,ds1)

0.7888888888888889

### Applying SVM [Support Vector Machine] Algorithm

In [19]:
from sklearn.svm import SVC
svm = SVC(kernel = "rbf",C=10, gamma=3)
svm.fit(attri_train,classs_train)
sv1=svm.predict(attri_test)
accuracy_score(classs_test,sv1)

0.7833333333333333

### Applying Random Forest Algorithm

In [20]:
from sklearn.ensemble import RandomForestClassifier
lm = RandomForestClassifier(n_estimators=11, random_state=0)
lm.fit(attri_train,classs_train)
lm1=lm.predict(attri_test)
accuracy_score(classs_test,lm1)

0.7694444444444445